<div>
    <h1>Cargar un alumno</h1>
    
     <form action="">
        <mat-form-field class="example-form-field">
            <mat-label>Legajo</mat-label>
            <input name ="legajo" matInput type="number" [(ngModel)]="legajo">
            <button mat-button *ngIf="legajo" matSuffix mat-icon-button aria-label="Clear" (click)="legajo=''">              
                <mat-icon>close</mat-icon>
            </button>
          </mat-form-field><br>

          <mat-form-field class="example-form-field">
            <mat-label>Nombre</mat-label>
            <input name ="nombre" matInput type="text" [(ngModel)]="nombre">
            <button mat-button *ngIf="nombre" matSuffix mat-icon-button aria-label="Clear" (click)="nombre=''">              
                <mat-icon>close</mat-icon>
            </button>
          </mat-form-field><br>

          <mat-form-field class="example-form-field">
            <mat-label>Apellido</mat-label>
            <input name ="apellido" matInput type="text" [(ngModel)]="apellido">
            <button mat-button *ngIf="apellido" matSuffix mat-icon-button aria-label="Clear" (click)="apellido=''">              
                <mat-icon>close</mat-icon>
            </button>
          </mat-form-field><br>

          <mat-form-field class="example-form-field">
            <mat-label>Materia</mat-label>
            <input name ="materia" matInput type="text" [(ngModel)]="materia">
            <button mat-button *ngIf="materia" matSuffix mat-icon-button aria-label="Clear" (click)="materia=''">              
                <mat-icon>close</mat-icon>
            </button>
          </mat-form-field><br>


        <button mat-raised-button color="primary" (click)="cargar()" >Enviar</button>
    </form>
</div>
