<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">      
        <button mat-raised-button color="primary" (click)="nav(1)">Cargar</button>&nbsp;
        <button mat-raised-button color="primary" (click)="nav(2)">Listado</button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button mat-raised-button type="button" mat-button (click)="drawer.toggle()">
        Menu
      </button>
    </div>
  
  </mat-drawer-container>

<app-cargar-alumno *ngIf="caso==1" (onCargar)="onCargar($event)"></app-cargar-alumno>
<app-listar-alumnos *ngIf="caso==2"  [listaAlumnos]="listaAlumnos"></app-listar-alumnos>



